extends layout

block content
  h1 Security BSides Boston 2017
  p Welcome to Being MEAN
  h2 Overview
  p.
      This course is designed for students interested in learning how to attack
      Web applications and services. Students will perform a black box assessment
      on a custom built web application that utilizes modern development practices
      through an instructor led assessment. During the assessment, students will
      learn how to find and evaluate security flaws such as Injection attacks,
      Cross Site Scripting as well as higher level logic flaws, particularly around
      encryption and authentication.
  h2 Course Contents
  ol#contents
    li
      a(href="intro") Introduction
    li
      a(href="what-is-mean") What Is MEAN?
    li
      a(href="methodology") Testing Methodology
    li
      a(href="setup") Lab Setup
    li Exercises
      ol
        li
          a(href="xss") XSS
        li
          a(href="mongodb") MongoDB Injection
        li
          a(href="ssjsi") Server Side JavaScript Injection
        li
          a(href="ssti") Server Side Template Injection
        li
          a(href="session") Session Token Issues
        li
          a(href="jwt") JWT Issues
    li
      a(href="conclusion") Conclusion
