extends layout

block content
  h1 MongoDB
  img(src='/static/mongodb.jpg')
  div
    form(name="search", method="get")
          div.input
              input(type="text", name="query", placeholder="Username...")
          div.actions
              input(type="submit", value="Go")

  if users
    h2 Search returned the following users:
    p
      ul
        for user in users
          li= user.username
  p
    //- TODO: Figure out how to properly reroute to index
    a(href="http://localhost:3000") Return to Index
