extends layout

block content
  h1 Resources
  p.
    Here are a few resources that have been a tremendous help in our own understanding and research around the vulnerabilities
    presented in this workshop as well as others. We have also included links to resources that we have found useful throughout
    our careers.
  h2 OWASP
  ul
    li
      a(href='https://www.owasp.org/index.php/Category:OWASP_Application_Security_Verification_Standard_Project') https://www.owasp.org/index.php/Category:OWASP_Application_Security_Verification_Standard_Project
    li
      a(href='https://www.owasp.org/index.php/OWASP_Testing_Guide_v4_Table_of_Contents') https://www.owasp.org/index.php/OWASP_Testing_Guide_v4_Table_of_Contents
  h2 AngularJS Cross Site Scripting
  ul
    li
      a(href='http://blog.portswigger.net/2016/01/xss-without-html-client-side-template.html') http://blog.portswigger.net/2016/01/xss-without-html-client-side-template.html
  h2 Server Side JavaScript Injection
  ul
    li
      a(href='https://media.blackhat.com/bh-us-11/Sullivan/BH_US_11_Sullivan_Server_Side_WP.pdf') https://media.blackhat.com/bh-us-11/Sullivan/BH_US_11_Sullivan_Server_Side_WP.pdf
    li
      a(href='https://blog.gdssecurity.com/labs/2015/4/15/nodejs-server-side-javascript-injection-detection-exploitati.html') https://blog.gdssecurity.com/labs/2015/4/15/nodejs-server-side-javascript-injection-detection-exploitati.html
  h2 Server Side Template Injection
  ul
    li
      a(href='http://blog.portswigger.net/2015/08/server-side-template-injection.html') http://blog.portswigger.net/2015/08/server-side-template-injection.html
  h2 MongoDB Injection
  ul
    li
      a(href='http://blog.websecurify.com/2014/08/hacking-nodejs-and-mongodb.html') http://blog.websecurify.com/2014/08/hacking-nodejs-and-mongodb.html
    li
      a(href='https://blog.sqreen.io/mongodb-will-not-prevent-nosql-injections-in-your-node-js-app/') https://blog.sqreen.io/mongodb-will-not-prevent-nosql-injections-in-your-node-js-app/

  p
    //- TODO: Figure out how to properly reroute to index
    a(href="http://localhost:3000") Return to Index
