extends layout

block content
  h1 Server Side Template Injection Example 2
  p.
    The following form is vulnerable to a Server Side Template Injection.
  div
    form(name="calculate", method="post", actin="ssti2")
          div.input
              input(type="text", name="expr", placeholder="Expression")
          div.actions
              input(type="submit", value="Calculate")
  p
    //- TODO: Figure out how to properly reroute to index
    a(href="http://localhost:3000") Return to Index
