extends layout

block content
  h1 Server Side Template Injection Example 1
  p.
    The following form is vulnerable to a Server Side Template Injection. Try
    starting with some basic tests for exploiting Server Side Template
    Injection in Jade. A good place to start might be something like this:
  p.
    <b>= 7*7</b>
  h2 Goals
  ol
    li Verify that the below form is vulnerable
    li Exploit the injection to read /etc/passwd
    li Can you get a remote shell?
  div
    form(name="preview", method="post")
          div.input
              textarea(cols="80", rows="10", name="tpl")
          div.actions
              input(type="submit", value="Preview")
  p
    a(href="ssti") Return to Previous
  p
    a(href="http://localhost:3000") Return to Index
