extends layout

block content
  h1 Server Side Template Injection Example 1
  p.
    Modern web applications make frequent use of templates such as Jade (now
    called "Pug") and Jinja2 to embed dynamic content in pages. When this
    dynamic content is provided by an untrustworthy source (i.e. users), it
    can lead to a form of exploitation known as Template Injection.

  ol#contents
    li
      a(href="/ssti_ex1") Example 1
    li
      a(href="/ssti_ex2") Example 2

  h2 References
  ul
    li
      a(href='http://blog.portswigger.net/2015/08/server-side-template-injection.html') http://blog.portswigger.net/2015/08/server-side-template-injection.html
    li
      a(href='https://github.com/epinna/tplmap') https://github.com/epinna/tplmap
  p
    //- TODO: Figure out how to properly reroute to index
    a(href="http://localhost:3000") Return to Index
