extends layout

block content
  h1 What is MEAN?
  p.
     The <b>MEAN</b> stack is comprised of four main technologies, along with
     a series of supporting technologies. The four pillar technologies include:
  ul
    li
      <b>M</b>ongoDB - The Database
    li
      <b>E</b>xpress - The Web Framework
    li
      <b>A</b>ngularJS - The Front-End Framework
    li
      <b>N</b>ode.js - The Web Server
  p.
    The real power of the <b>MEAN</b> stack is derived from the fact that it
    allows an individual to perform "Full Stack" development of a web
    application using a single language across the entire stack - that
    language being JavaScript.
  p.
    As you may have guessed by the title of this course, being a monoculture
    stack that is easy for developers to write in also means that this stack is
    also rife with holes that attackers can exploit.
  p
    //- TODO: Figure out how to properly reroute to index
    a(href="http://localhost:3000") Return to Index
