extends layout

block content
  h1 What is MEAN?
  p.
     The <b>MEAN</b> stack is comprised of four main technologies, along with
     a series of supporting technologies. The four pillar technologies include:
  ul
    li
      <b>M</b>ongoDB - The Database
      ul
        li
          a(href="http://api.mongodb.com/") MongoDB API
    li
      <b>E</b>xpressJS - The Web Framework
      ul
        li
          a(href="https://expressjs.com/en/api.html") Express API
    li
      <b>A</b>ngularJS - The Front-End Framework
      ul
        li
          a(href="https://docs.angularjs.org/api") Angular API
    li
      <b>N</b>ode.js - The Web Server
      ul
        li
          a(href="https://nodejs.org/api/") Node API
  p.
    The real power of the <b>MEAN</b> stack is derived from the fact that it
    allows an individual to perform "Full Stack" development of a web
    application using a single language across the entire stack - that
    language being JavaScript. As you may have guessed by the title of this
    course, writing code in a monoculture stack makes things easier for
    developers - but that also means that this stack contains a single
    point of failure for attackers to exploit.
  p
    //- TODO: Figure out how to properly reroute to index
    a(href="http://localhost:3000") Return to Index
