extends layout

block content
  h1 AngularJS Cross Site Scripting
  p Something something...
  p.
    The following form is vulnerable to an AngularJS Sandbox Escape.
    Exploit the form to trigger a Reflected XSS.
  div
    form(name="search", method="get")
          div.input
              input(type="text", name="query", placeholder="Search...")
          div.actions
              input(type="submit", value="Go")

  //- ng-app required for the AngularJS Sandbox Escape working
  div(ng-app="app")
    if query
      p You searched for #{query}

  //- any time this AngularJS is imported, this vulnerability is possible
  script(src='https://code.angularjs.org/1.5.8/angular.min.js')
  script.
      (function() {
        'use strict';
        angular.module('app', []);
      })();
